# Configuration du serveur
PORT=3005

# Configuration de la base de donnees PostgreSQL
# Remplace ces valeurs par tes propres identifiants locaux
DB_HOST=localhost
DB_PORT=5433
DB_NAME=tutoring_db
DB_USER=postgress
DB_PASSWORD=ton_mot_pass

# Configuration JWT 
# JWT_SECRET doit etre une longue chaine aleatoire en production
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Duree de validite des codes OTP 
OTP_EXPIRES_MINUTES=10
